.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.btn_search{
    background: green;
    color: yellow;
}

.button__comment{
    background: green;
    color: yellow;
}
